# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE="1F2D8126-DB91-4F40-AFE7-89E7B4A5C57D"

# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=
